.section-title {
    text-align: center;
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 2em;
    font-family: $av-bold;
}

.home-banner {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 620px;

    .banner-inner {
        height: 100%;
        position: relative;
        text-align: right;
    }

   .banner-title {
        color: $blue;
        font-size: 48px;
        line-height: 1;
        margin-bottom: 0.3em;
        text-align: right;
        margin-top: 200px;
        font-family: $av-bold;
        text-transform: none;
    }

    .text-large {
        font-size: 82px;
        display: block;
        text-transform: uppercase;
    }

    .banner-text {
        color: #fff;
        font-size: 28px;
        text-align: right;
        font-family: $av-medium;
    }

}

#what-do {
    background: #eee;
    text-align: center;
    padding: 30px 0 40px;
    .section-inner {
        display: inline-block;
        text-align: center;
        max-width: 830px;
    }

    .section-title {
        color: #ef636e;
        margin-bottom: 1em;
    }

    p {
        font-size: 21px;
        font-style: italic;
        color: #565656;
        line-height: 1.5;
        margin-bottom: 0;
        font-family: Times, serif;
    }
}

.list-demands {
    .list-item {
        display:block;
        position: relative;
        margin-bottom: 30px;

        .pedido {
            position: absolute;
            top: 10px;
            left: 0;
            padding: 5px 10px;
            border-radius: 0 4px 4px 0;
            background: #27a8fc;
            text-transform: uppercase;
            font-size: 11px;
            color: #fff;
            font-family: $av-bold;
        }

        .img {
            display: block;
            height: 178px;
            background-position: center center;
            background-size: cover;
        }

        img {
            max-width: 100%;
        }

        .school-name {
            display: block;
            border: 1px solid #dcdcdc;
            padding: 10px;
            height: 60px;
            font-size: 14px;
            color: #333;
            font-family: $av-medium;
        }

        .school-local {
            font-family: $av-demi;
        }
    }
}

#ultimos-pedidos {
    .section-title {
        color: #196fa8;
        margin-top: 3em;
    }
}

.facebook-login {
    width: 400px;
    margin: 55px auto 85px;
    text-align: center;
}

.home-form {
    height: 400px;
    padding: 2% 0 0 0;
    color: #fff;

    .form-inner {
        width: 430px;
        max-width: 94%;
        margin: 0 auto;
    }

    .inputs,
    .user-type {
        display: inline-block;
        vertical-align: top;
    }

    .form-control {
        border-radius: 20px;
        background: transparent;
        height: 40px;
        line-height: 20px;
        padding: 10px 15px;
        border: 1px solid rgba(255,255,255,0.4);
        font-size: 14px;
        color: #fff;
        @include placeholder {
            color: #fff;
        }
    }

    .btn-submit {
        border-radius: 20px;
        background: #fff;
        text-transform: uppercase;
        height: 40px;
        line-height: 40px;
        border: 0;
        padding: 0 32px;
    }

    .btn-radio {
        position: relative;
        margin-bottom: 5px;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 0;
            margin-top: -1em;
        }

        &:before {
            width: 2em;
            height: 2em;
            background: rgba(255,255,255,0.3);
            border: 1px solid rgba(255,255,255,0.5);
        }

        &:after {
            opacity: 0;
            left: 0.6em;
            width: 0.8em;
            height: 0.8em;
            background-color: #fff;
            margin-top: -0.4em;
        }
        // events
        &:active{
            box-shadow: initial;
        }

        &:hover {
            color: #fff;
        }

        &.active {
            box-shadow: initial;


            &:before {
                border: 2px solid #fff;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    .forgot-pass {
        color: #fff;
    }

    .title {
        color: #fff;
        border: 0;
    }
}

#home-signin {
    background: #eab831;
    .inputs {
        width: 50%;
        margin-right: 5%
    }
    .user-type {
        width: 35%;
        padding-left: 5%;
        border-left: 1px solid #f3d380;
    }

    .btn-submit {
        color: #eab831;
    }
}

#home-login {
    background: #00a2a5;
    .inputs {width: 65%}

    .btn-submit {
        color: #00a2a5;
    }
}
