<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Obrigado por se cadastrar, <%= @user.name %>!</h1>
    <p>Até logo!</p>
  </body>
</html>
