<p><strong>Pol&iacute;tica de Privacidade - Site Quero na Escola!</strong></p>

<p><br />
&nbsp;</p>

<p>1. Esta Pol&iacute;tica de Privacidade tem como compromisso proteger os dados cadastrais dos usu&aacute;rios e visitantes cadastrados do site do Quero na Escola.</p>

<p>&nbsp;</p>

<p>2. Todas as informa&ccedil;&otilde;es confiadas no cadastro ser&atilde;o de uso exclusivo do Quero na Escola, sendo incorporadas ao banco de dados da empresa.</p>

<p>&nbsp;</p>

<p>3. Para navegar em todas as &aacute;reas do site &eacute; necess&aacute;rio efetuar o cadastro. Nosso objetivo &eacute; identificar o usu&aacute;rio (estudante, volunt&aacute;rio ou outro agente da educa&ccedil;&atilde;o), conhecer suas demandas, prefer&ecirc;ncias e habilidades. Os dados do cadastro ser&atilde;o o meio de contato com o Quero na Escola. Por isso, o usu&aacute;rio deve fornecer dados pessoais verdadeiros, precisos, atuais e completos, bem como manter atualizadas essas informa&ccedil;&otilde;es.</p>

<p>&nbsp;</p>

<p>4. Ao se cadastrar, o usu&aacute;rio aceita fornecer seus dados pessoais, os termos desta Pol&iacute;tica de Privacidade e as condi&ccedil;&otilde;es de uso do site, tanto por meio da internet como por outras m&iacute;dias. Neste momento, o usu&aacute;rio poder&aacute; fazer a op&ccedil;&atilde;o por receber ou n&atilde;o avisos sobre produtos e servi&ccedil;os do Quero na Escola e de nossos parceiros. Esta decis&atilde;o poder&aacute; ser tomada no ato do cadastramento, ou a qualquer tempo no link &ldquo;Atualizar Perfil&rdquo;, op&ccedil;&atilde;o Alterar Senha e Editar perfil.</p>

<p>4.1. Se desejar apenas cancelar o recebimento de nossos comunicados , voc&ecirc; pode a qualquer momento solicitar o cancelamento atrav&eacute;s do pr&oacute;prio e-mail recebido, clicando em &ldquo;cancele sua inscri&ccedil;&atilde;o aqui&rdquo; ou ainda entrar em contato com a nossa central de atendimento no e-mail: central@queronaescola.com.br</p>

<p>&nbsp;</p>

<p>5. O usu&aacute;rio ser&aacute; o &uacute;nico respons&aacute;vel pela confidencialidade e adequada utiliza&ccedil;&atilde;o de seu login e senha, criados no momento do cadastro.</p>

<p>5.1. Nunca forne&ccedil;a sua senha a ningu&eacute;m.</p>

<p>&nbsp;</p>

<p>6. O usu&aacute;rio pode alterar seus dados cadastrais e senha a partir dos links &ldquo;Atualizar Perfil&rdquo; e &ldquo;Atualizar Informa&ccedil;&otilde;es&rdquo; que se encontram no menu superior de nossa homepage.</p>

<p>&nbsp;</p>

<p>7. As informa&ccedil;&otilde;es coletadas pelo Quero na Escola trafegam e s&atilde;o armazenadas de forma segura, com o uso de criptografia.</p>

<p>&nbsp;</p>

<p>8. Para facilitar o acesso, ser&aacute; gerado um cookie no computador do usu&aacute;rio. Esse cookie &eacute; um arquivo pequeno para reconhecer, acompanhar e armazenar a navega&ccedil;&atilde;o do usu&aacute;rio na Internet.</p>

<p>&nbsp;</p>

<p>8.1. Todas as informa&ccedil;&otilde;es fornecidas pelo usu&aacute;rio seguem as regras aqui contidas e s&atilde;o usadas com as seguintes finalidades:</p>

<p>&bull; Informar sobre conte&uacute;do publicado no Quero na Escola</p>

<p>&bull; Realizar o encontro entre as demandas dos estudantes e as habilidades dos volunt&aacute;rios cadastrados para que sejam realizadas oficinas nas escolas</p>

<p>&bull; Manter atualizados os dados de usu&aacute;rio para contato por qualquer meio</p>

<p>&bull; Analisar estat&iacute;sticas gerais de uso do site, sem identifica&ccedil;&atilde;o individual do usu&aacute;rio, visando melhorar a experi&ecirc;ncia e sua navega&ccedil;&atilde;o</p>

<p>&bull; Responder d&uacute;vidas e solicita&ccedil;&otilde;es do usu&aacute;rio</p>

<p>&bull; Realizar campanhas de comunica&ccedil;&atilde;o, estudos sobre o impacto de a&ccedil;&otilde;es do Quero na Escola para os estudantes e marketing de relacionamento</p>

<p>&nbsp;</p>

<p>9. O usu&aacute;rio poder&aacute; bloquear o uso de cookies configurando o seu navegador de Internet ou Aplicativo. Nesta hip&oacute;tese, algumas funcionalidades dos Servi&ccedil;os e/ou Produtos poder&atilde;o ser limitadas.</p>

<p>&nbsp;</p>

<p>10. As informa&ccedil;&otilde;es coletadas tamb&eacute;m poder&atilde;o ser utilizadas para direcionamento de campanhas publicit&aacute;rias de uma forma geral, gerar dados estat&iacute;sticos gerais com finalidade informativa ou comercial que poder&atilde;o ser fornecidas a parceiros, patrocinadores, anunciantes ou outras empresas externas, sem que jamais sejam revelados nomes ou outros dados de navega&ccedil;&atilde;o.</p>

<p>&nbsp;</p>

<p>11. Os dados pessoais do usu&aacute;rio n&atilde;o ser&atilde;o comercializados ou fornecidos a terceiros em nenhuma hip&oacute;tese, salvo em estrito cumprimento de ordens judiciais, ou quando autorizados. Todas as informa&ccedil;&otilde;es fornecidas a parceiros, patrocinadores, anunciantes e demais ser&atilde;o apenas de grupos de usu&aacute;rios (segmentos de mercado).</p>

<p>&nbsp;</p>

<p>12. Caso tenha d&uacute;vidas sobre o cadastramento ou esta Pol&iacute;tica de Privacidade, envie um e-mail para central@queronaescola.com.br</p>

<p>&nbsp;</p>

<p>13. O Quero na Escola poder&aacute; modificar esta Pol&iacute;tica de Privacidade a qualquer tempo. As altera&ccedil;&otilde;es estar&atilde;o sempre presentes neste espa&ccedil;o, de modo que os usu&aacute;rios tenham integral conhecimento.</p>

<p>&nbsp;</p>

<p>14. Nenhuma transmiss&atilde;o de dados na Internet &eacute; 100% segura. Sendo assim, embora o Quero na Escola fa&ccedil;a o poss&iacute;vel para proteger suas informa&ccedil;&otilde;es pessoais, n&atilde;o &eacute; poss&iacute;vel garantir a seguran&ccedil;a de todas as informa&ccedil;&otilde;es que voc&ecirc; venha a nos fornecer. &Eacute; uma decis&atilde;o pessoal a utiliza&ccedil;&atilde;o do servi&ccedil;o nessas condi&ccedil;&otilde;es.</p>

<p><br />
15. O Quero na Escola cumpre todas as leis, normas e regulamentos aplic&aacute;veis vigentes.</p>
