<p><strong>Termo de uso - Site Quero na Escola!</strong></p>

<p><br />
<br />
&nbsp;</p>

<p>Ao utilizar os servi&ccedil;os do site Quero na Escola, voc&ecirc; declara e garante que:</p>

<p>&nbsp;</p>

<p>- Todas as informa&ccedil;&otilde;es de registro que voc&ecirc; enviar s&atilde;o verdadeiras e precisas;</p>

<p>- Voc&ecirc; manter&aacute; a precis&atilde;o dessas informa&ccedil;&otilde;es e ser&aacute; respons&aacute;vel por elas;</p>

<p>- Voc&ecirc; dever&aacute; estar atento aos nossos e-mails e dever&aacute; respond&ecirc;-los sempre que solicitado; &nbsp;</p>

<p>- Que as informa&ccedil;&otilde;es que voc&ecirc; publicar n&atilde;o violam nenhuma lei ou regulamento aplic&aacute;vel. &nbsp;Seu perfil pode ser exclu&iacute;do sem aviso pr&eacute;vio, se acreditarmos que voc&ecirc; violou as regras;</p>

<p>- Voc&ecirc; aceita responsabilidade &uacute;nica por todas as suas atividades ao usar o site Quero na Escola, incluindo seu comportamento e todo e qualquer conte&uacute;do que voc&ecirc; possa enviar, postar ou compartilhar atrav&eacute;s do site;</p>

<p>- Voc&ecirc; n&atilde;o vai usar o servi&ccedil;o do site Quero na Escola para qualquer finalidade ilegal ou n&atilde;o autorizada.</p>

<p>&nbsp;</p>

<p>Cadastro</p>

<p>Para utilizar as funcionalidades e recursos do site Quero na Escola, voc&ecirc; precisar&aacute; realizar um cadastro, nos termos da nossa Pol&iacute;tica de Privacidade. Solicitamos o fornecimento de alguns dados pessoais seus, tais como nome, idade e endere&ccedil;o de e-mail, dentre outros.</p>

<p>&nbsp;</p>

<p>O usu&aacute;rio aceita e declara compreender que o acesso a determinadas &aacute;reas do site Quero na Escola ser&aacute; restrito. Para acess&aacute;-las, o usu&aacute;rio dever&aacute; fazer o login e cadastrar uma senha de acesso, ou efetuar o login com o Facebook. A senha &eacute; individual, sigilosa e intransfer&iacute;vel, sendo o usu&aacute;rio o &uacute;nico respons&aacute;vel pela guarda da mesma. O Usu&aacute;rio assume toda e qualquer responsabilidade pelo mau uso ou pela utiliza&ccedil;&atilde;o da senha por terceiros.</p>

<p>&nbsp;</p>

<p>Voc&ecirc; poder&aacute; solicitar a exclus&atilde;o dos dados pessoais que voc&ecirc; nos fornecer, dos nossos registros, solicitando formalmente atrav&eacute;s de e-mail .</p>

<p>&nbsp;</p>

<p>Mesmo ap&oacute;s a sua solicita&ccedil;&atilde;o de exclus&atilde;o, manteremos os dados agregados e n&atilde;o identific&aacute;veis para fins estat&iacute;sticos, bem como os dados e informa&ccedil;&otilde;es que somos obrigados a manter em registro por lei.</p>

<p>&nbsp;</p>

<p>Enquanto estivermos em posse de informa&ccedil;&otilde;es ou dados seus, poderemos fornec&ecirc;-los &agrave;s autoridades competentes para colaborar em investiga&ccedil;&otilde;es ou procedimentos judiciais, ainda que preparat&oacute;rios ou cautelares, desde que permitido por lei.</p>
