/* @font-face {
    font-family: "Avenir Next Thin";
    src: url("avenir-next-thin.eot?") format("eot"),
         url("avenir-next-thin.woff") format("woff"),
         url("avenir-next-thin.ttf") format("truetype")
} */

@font-face {
    font-family: "Avenir Next Thin";
    src: font-url('/assets/AvenirNextThin.eot');
	src: font-url('/assets/AvenirNextThin.eot?#iefix') format('embedded-opentype'),
		font-url('/assets/AvenirNextThin.woff2') format('woff2'),
		font-url('/assets/AvenirNextThin.woff') format('woff'),
		font-url('/assets/AvenirNextThin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Avenir Next Regular";
    src: font-url('/assets/AvenirNextRegular.eot');
	src: font-url('/assets/AvenirNextRegular.eot?#iefix') format('embedded-opentype'),
		font-url('/assets/AvenirNextRegular.woff2') format('woff2'),
		font-url('/assets/AvenirNextRegular.woff') format('woff'),
		font-url('/assets/AvenirNextRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Avenir Next Medium';
	src: font-url('/assets/AvenirNextMedium.eot');
	src: font-url('/assets/AvenirNextMedium.eot?#iefix') format('embedded-opentype'),
		font-url('/assets/AvenirNextMedium.woff2') format('woff2'),
		font-url('/assets/AvenirNextMedium.woff') format('woff'),
		font-url('/assets/AvenirNextMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Demi';
	src: font-url('/assets/AvenirNextDemi.eot');
	src: font-url('/assets/AvenirNextDemi.eot?#iefix') format('embedded-opentype'),
		font-url('/assets/AvenirNextDemi.woff2') format('woff2'),
		font-url('/assets/AvenirNextDemi.woff') format('woff'),
		font-url('/assets/AvenirNextDemi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url("avenir-next-bold.eot?") format("eot"),
         url("avenir-next-bold.woff") format("woff"),
         url("avenir-next-bold.ttf") format("truetype"),
         url("avenir-next-bold.svg") format("svg")
}

@font-face {
	font-family: 'Times italic';
	src: font-url('/assets/times-italic-webfont.eot');
	src: font-url('/assets/times-italic-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('/assets/times-italic-webfont.woff2') format('woff2'),
		font-url('/assets/times-italic-webfont.woff') format('woff'),
		font-url('/assets/times-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
