



// colors
$blue :  #28a8fb;
$dark-blue : #0f4162;

// font

//$av-light : 'Avenir Next Thin';
$av-regular : 'Avenir Next Regular';
$av-medium : 'Avenir Next Medium';
$av-demi : 'Avenir Next Demi';
$av-bold : 'Avenir Next Bold';
